body {
    background-color: #496379;
    font-family: 'Lucida Console', monospace;
    color: white;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.increment {
    background-color: #0081cb;
}

.decrement {
    background-color: #ff7f8c;
}

.reset {
    background-color: red;
}

.btn {
    color: black;
    border-radius: 4px;
    height: 35px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.question {
    word-wrap: break-word;
}

.headers {
    color: #ffff9d;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    text-align: left;
}

p {
    font-size: 1.5em;
}

.questionBtn {
    background-color: #ffff9d;
}

.reveal {
    background-color: navy;
    color: white;
    width: 40%;
    height: 5vh;
}